<ul>
    <li>
        <a href="/dome-element/step1">Dom 다루기1>> ElementRef >> setAttribute </a>
    <li>
    <li>
        <a href="/dome-element/step2">Dom 다루기2 >>  ElementRef(directive) >> setAttribute </a>
    <li>
    <li>
        <a href="/dome-element/step3">Dom 다루기3 >>  Renderer2 >> setAttribute </a>
    <li>
    <li>
        <a href="/dome-element/step4">Dom 다루기4 >> QueryList</a>
    <li>
        <li>
            <a href="/dome-element/step5">Dom 다루기5 >> create, append, remove </a>
        <li>
</ul>
<router-outlet></router-outlet>