<div style="display: flex;justify-content: space-between;">
    <div style="width: 50%">
        <ul>
            <li>
                Dom 다루기
                <ul>
                    <li>
                        <a href="/dome-element/step1">1. ElementRef >> setAttribute </a>
                    </li>
                    <li>
                        <a href="/dome-element/step2">2. ElementRef(directive) >> setAttribute </a>
                    </li>
                    <li>
                        <a href="/dome-element/step3">3. Renderer2 >> setAttribute </a>
                    </li>
                    <li>
                        <a href="/dome-element/step4">4. QueryList</a>
                    </li>
                    <li>
                        <a href="/dome-element/step5">5. create, append, remove </a>
                    </li>
                </ul>
            </li>
            <li>
                Canvas 다루기
                <ul>
                    <li>
                        <a href="/canvas/step1">1. Text 출력 </a>
                    </li>
                    <li>
                        <a href="/canvas/step2">2. animation 및 다각형 그리기 </a>
                    </li>
                    <li>
                        <a href="/canvas/step3">3. 네온효과 사각형 그리기 </a>
                    </li>
                    <li>
                        <a href="/canvas/step4">4. Gradient </a>
                    </li>
                    <li>
                        <a href="/canvas/step5">5. Draw Image </a>
                    </li>
                </ul>
            </li>
            <li>
                Canvas를 이용한 재미나는 효과
                (https://code.tutsplus.com/articles/21-ridiculously-impressive-html5-canvas-experiments--net-14210)
                <ul>
                    <li>
                        <a href="/canvas-effect/step1">1. Orbital Trails </a>
                    </li>
                    <li>
                        <a href="/canvas-effect/step2">2. Neon Hexagon Patterns </a>
                    </li>
                    <li>
                        <a href="/canvas-effect/step3">3. Long Shadow </a>
                    </li>
                    <li>
                        <a href="/canvas-effect/step4">4. Animated Particle Background(gsap 사용) </a>
                    </li>
                    <li>
                        <a href="/canvas-effect/step5">5. Click Response(animejs 사용) </a>
                    </li>
                    <li>
                        <a href="/canvas-effect/step6">6. Fizzy Sparks(gsap 사용) </a>
                    </li>
                </ul>
            </li>
            <li>
                Sound 다루기
                <ul>
                    <li>
                        <a href="/sounds/step1">1. Howler 사용 </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div style="width: 50%">
        <router-outlet></router-outlet>
    </div>
</div>
